/*css重置*/
ul{
	list-style: none;
	padding: 0px;
}
body{
	background: #f2f2f2;
}
/*整体*/
.navbar{min-height: 69px;}
.navbar.navbar-default{background: url(../img/header_bg.png) repeat-y; background-size:100% auto; }
/*logo*/
.navbar .navbar-brand{height: auto;padding: 0px;padding-top: 14px;}
.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse{margin-left:15.41666666666667%;}
.navbar .navbar-brand img{width: 125px;height: 42px;float: left;}
/*导航*/
.navbar-nav{margin-top: 12px;margin-left: 80px;}
.navbar-nav > li > a{padding: 0px;width: 115px;text-align: center;line-height: 44px;}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{border: 1px solid #fff;background-color:transparent;color: #fff;border-radius: 22px;}
.navbar-default .navbar-nav > li > a{color: #fff;}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{color: #fff;}
@media (max-width: 1080px) {
	.navbar .container{width: 100%;}
	.navbar-nav > li > a{width: 90px;}
	.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse{
		margin-left:5%;
	}
}
@media (max-width: 768px) {
	.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse{margin-left: 0px;}
	.navbar-nav{margin-top: 12px;margin-left: 0px;}
	.navbar-nav > li > a{width: auto;}
}
/*头部菜单按钮*/
.navbar-default .navbar-toggle{border-color: #FFF;}
.navbar-default .navbar-toggle:hover,.navbar-default .navbar-toggle:focus{background:transparent; }
.navbar-default .navbar-toggle .icon-bar{background-color:#fff;}
/*案例推荐列表*/
.recommend .recommend_list{
	margin: 0px auto;
	padding-top: 68px;
	width: 984px;
	overflow: hidden;
}
.recommend .recommend_list li{
	background: url("../img/recommend_list_bg.png") no-repeat bottom;
	width: 302px;
	height: 190px;
	position: relative;
	float: left;
	margin: 0px 13px 38px;
}
.recommend .recommend_list li:hover .recommend-box{
	top: -36px;
	transition: all 1s;
}
.recommend .recommend_list li:hover .recommend-box .li_btn{
	display: block;
	transition: all 0.5s;
}
.recommend .recommend_list li .recommend-box{
	padding: 20px;
	border: 1px solid #d5d5d5;
	border-radius: 14px;
	background: #f8f8f8;
	width: 302px;
	height: 190px;
	position: absolute;
	top: 0px;
	left: 0px;
}
.recommend .recommend_list .recommend-box .li_btn{
	position: absolute;
	top: 20px;
	left: 20px;
	width: 262px;
	height: 148px;
	background: rgba(103,101,130,0.57);
	display: none;
}
.recommend .recommend_list .recommend-box .li_btn b{
	background: rgba(15,12,19,0.44);
	position: absolute;
	width: 100px;
	height: 100px;
	border-radius: 5px;
	top: 24px;
	left: 81px;
}
.recommend .recommend_list .recommend-box .li_btn i{
	background: url("../img/recommend_list_btn.png") no-repeat;
	position: absolute;
	width: 70px;
	height: 69px;
	top: 15px;
	left: 14.5px;
}